.block.livemap {
  position: relative;
  height: 60vh;
}
.block.livemap .controls {
  position: absolute !important;
  z-index: 100;
  top: 3px;
  left: 3px;
  flex-direction: column;
  padding: 5px;
  background: white;
}
.maplibregl-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
