.block.livemap {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.block.livemap .controls {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  flex-direction: column;
}
.maplibregl-map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
